{% load static %}
<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <title>11-17</title>
     <link rel="stylesheet" href="{% static '5-10.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="logo" src="{% static 'gallery/nelly.png' %}" alt="logo">

<h1>Դեռահաս լեդիներ և ջենթլմեններ</h1>
<br><br>

<div class="gallery img">
<img src="{% static 'photos/3.jpg' %}" alt="3">
<img src="{% static 'gallery/g37.jpg' %}" alt="37">
<img src="{% static 'gallery/g7.jpg' %}" alt="7">
</div>

<br>
<br>

<br>
<br>

<div class="p1">
Ծրագիրը նախատեսված է 5-10 տարեկան երեխաների համար։<br>
    Ամբողջական կուրսի տևողությունը՝ 3 ամիս<br>
</div>
<br>

<p class="para">Ծրագրի շրջանակներում երեխաները կսովորեն՝</p>

<div class="list-block">
<ul>
    <li>Շփման կուլտուրա</li>
    <li>Սեղանի շուրջ վարվելակերպի կանոններ</li>
    <li>Լեդի և ջենթլմեն</li>
    <li>Աշխարհիկ վարվելակերպ և շփում</li>
    <li>Հագուստի կուլտուրա</li>
    <li>Dress code</li>
    <li>Բիզնես էթիկետ</li>
    <li>Բրենդինգ</li>
    <li>Ժեստային շփում</li>
    <li>Ոճաբանություն</li>
</ul>
</div>

<p class="para">Ծրագրի շրջանակներում իրականացվող գործնական այցեր՝</p>
<div class="list-block">
<ul>
    <li>Ռեստորան</li>
    <li>Թատրոն</li>
    <li>Թանգարան</li>
    <li>Պիկնիկ</li>
    <li>Թեյախմություն</li>
</ul>
</div>

<p class="p1">Դասընթացի ամսական արժեքը՝ 20000 դրամ է։ <br>
Դասընթացին միանալու համար զանգահարել՝
<a href="tel: +37493541986">+37493541986</a><br>
</p>

</body>
</html>