{% load static %}
<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <title>5-10</title>
    <link rel="stylesheet" href="{% static '5-10.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<img class="logo" src="{% static 'gallery/nelly.png' %}" alt="logo">

<h1>Փոքրիկ լեդիներ և ջենթլմեններ</h1>


<div class="gallery img">
    <img src="{% static 'gallery/g44.jpg' %}" alt="44">
    <img src="{% static 'gallery/g43.jpg' %}" alt="43">
    <img src="{% static 'gallery/g45.jpg' %}" alt="45">
</div>

<br><br>

<div class="p1">
    Ծրագիրը նախատեսված է 5-10 տարեկան երեխաների համար։<br>
    Ամբողջական կուրսի տևողությունը՝ 3 ամիս<br>
</div>
<br><br>

<p class="para">Ծրագրի շրջանակներում երեխաները կսովորեն՝</p>

<div class="list-block">
    <ul>
        <li>Շփման կուլտուրա</li>
        <li>Սեղանի շուրջ վարվելակարգի կանոններ</li>
        <li>Լեդի և ջենթլմեն</li>
        <li>Աշխարհիկ վարվելակարգ և շփում</li>
        <li>Հագուստի կուլտուրա</li>
        <li>Վարվելակարգի կանոններ տարբեր միջոցառումներ այցելելիս</li>
        <li>Սովորություններ, որոնք փչացնում են մեր պահվածքը</li>
        <li>Գույներ, գունային համադրություններ</li>
    </ul>
</div>

<p class="para">Ծրագրի շրջանակներում իրականացվող գործնական այցեր՝</p>

<div class="list-block">
    <ul>
        <li>Ռեստորան</li>
        <li>Թատրոն</li>
        <li>Թանգարան</li>
        <li>Պիկնիկ</li>
        <li>Թեյախմություն</li>
    </ul>
</div>
<br>

<p class="p1">
    Դասընթացի ամսական արժեքը՝ 20000 դրամ է։ <br>
    Դասընթացին միանալու համար զանգահարել՝
    <a href="tel:+37493541986">+37493541986</a><br>
</p>

</body>
</html>