{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Խմբակային այցեր</title>
    <link rel="stylesheet" href="{% static 'group.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="logo" src="{% static 'gallery/nelly.png' %}" alt="logo">
<h1>Խմբակային այցեր</h1>
<img class="image" src="{% static 'photos/4.jpg' %}" alt="4">

<p class="para">
    Խմբակային այցերին կարող են մասնակցել՝
</p>
<div class="list-block">
<ul>
    <li>Դպրոցական խմբեր</li>
    <li>Մանկապարտեզի խմբեր</li>
    <li>Զարգացման կենտրոններ</li>
    <li>Ընկերական խմբեր</li>
</ul>
</div>

<p class="para">Թեմաներ</p>
<div class="list-block">
<ul>
    <li>Շփման կուլտուրա</li>
    <li>Սեղանի շուրջ վարվելակերպի կանոններ</li>
    <li>Բիզնես էթիկետ</li>
    <li>Բրենդինգ</li>
    <li>Ժեստային շփում</li>
    <li>Ոճաբանություն</li>
</ul>
</div>

<p class="p1">
    Խմբակային այցերի համար գործում է մուտքավճար՝ 2000-4000 դրամ կախված քանակից։<br>
    Խմբակային այց ամրագրելու համար զանգահարել՝<br>
<a href="tel: +37493541986">+37493541986</a>
</p>
</body>
</html>