{% load static %}
<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="stylesheet" href="{% static 'training.css' %}">

</head>
<body>

<div class="head">
    <img class="logo" src="{% static 'gallery/nelly.png' %}" alt="logo">
    <h1>Վերապատրաստում և համագործակցություն</h1>
</div>



<div class="gallery img">
    <img src="{% static 'gallery/n1.png' %}" alt="1">
    <img src="{% static 'gallery/n2.png' %}" alt="2">
    <img src="{% static 'gallery/n3.png' %}" alt="3">
    <img src="{% static 'gallery/n4.png' %}" alt="4">
    <img src="{% static 'gallery/n5.png' %}" alt="5">
</div>

<br><br>

<p class="p1">
    2024թ-ից սկսած մեր դպրոցը իրականացնում է էթիետի ուսուցիչների ուսուցում և վերապատրաստում
    Հայաստանի տարբեր մարզերում։ Մեր գլխավոր նպատակն է ընդլայնել մեր գործունեությունը և բացել
    մասնաճյուղեր Հայաստանի տարբեր քաղաքներում।<br>
    Վերապատրաստումը իրականացվում է անհատական հիմքերով։ Յուրաքանչյուր քաղաքում գործում է
    միայն մեկ մասնաճյուղ:
</p>

<p class="para">Վերապատրաստման համար անհրաժեշտ է</p>

<div class="list-block">
    <ul>
        <li>Ընտրել որևէ քաղաք, որտեղ կցանկանաք հիմնել մասնաճյուղ</li>
        <li>Անցնել վերապատրաստում մեր դպրոցում</li>
        <li>Սովորել դասավանդման ամբողջական ծրագիրը</li>
        <li>Հիմնել մասնաճյուղ</li>
    </ul>
</div>

<p class="para">
    Վերապատրաստման ընթացքում տրամադրվում է դպրոցի ամբողջական ծրագիրը և ավարտական հավաստագիր։
</p>

<div class="list-block">
    Մեր թիմին միանալու և հավելյալ տեղեկությունների համար զանգահարել՝
    <a href="tel:+37493541986">+37493541986</a>
</div>

</body>
</html>